<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Savvy Creative - {% block title %}{% endblock %}</title>
        {% block stylesheets %}
          {% stylesheets
            '@SavvyStaticBundle/Resources/public/css/home.css'
            output='/css/home.css'
          %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
          {% endstylesheets %}
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="jubilee">
        <div class="jubilee-wrapper">
            <div id="wrapper">
                <div id="content_wrapper" class="{% block theme %}{%endblock%}">
                    <div id="content">
            {% block body %}{% endblock %}
            {% block quick_nav %}{% endblock %}
                            <div class ="cb"></div>
                        </div>
                    </div>
                    <div class ="cb"></div>
        {% block javascripts %}
               <script type="text/javascript">
<!--
 
 var viewportwidth;
 var viewportheight;
  
 // the more standards compliant browsers (mozilla/netscape/opera/IE7) use window.innerWidth and window.innerHeight
  
 if (typeof window.innerWidth != 'undefined')
 {
      viewportwidth = window.innerWidth,
      viewportheight = window.innerHeight
 }
  
// IE6 in standards compliant mode (i.e. with a valid doctype as the first line in the document)
 
 else if (typeof document.documentElement != 'undefined'
     && typeof document.documentElement.clientWidth !=
     'undefined' && document.documentElement.clientWidth != 0)
 {
       viewportwidth = document.documentElement.clientWidth,
       viewportheight = document.documentElement.clientHeight
 }
  
 // older versions of IE
  
 else
 {
       viewportwidth = document.getElementsByTagName('body')[0].clientWidth,
       viewportheight = document.getElementsByTagName('body')[0].clientHeight
 }
//-->
var supportsOrientationChange = "onorientationchange" in window,
    orientationEvent = supportsOrientationChange ? "orientationchange" : "resize";
if(viewportheight < 450){
    var element = document.getElementById("corgi");
    element.parentNode.removeChild(element);
    }
window.addEventListener(orientationEvent, function() {
if(viewportheight < 450){
    var element = document.getElementById("corgi");
    element.parentNode.removeChild(element);
    }
}, false);

</script>     
        {% endblock %}
                </div>
            </div>

        </body>
    </html>