{% extends '::base.html.twig' %}
{% block body %}
  <div class="column50 left">
    {% block left %}{% endblock %}
  </div>
  <div class="column50 right">
    {% block right %}{% endblock %}
  </div>
{% endblock %}
