html { overflow: scroll; }

body {
  background: #400035 url(/images/home-bg.jpg) repeat-x left center;
	font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  height: 600px;
}

#wrapper {
	margin: 0 auto;
	width: 960px;
}

p {margin-left: 270px; text-align: justify; width: 473px; font-size: 15px; line-height: 19px;}

p#visit {text-align: right;}

p#visit a {text-decoration: none;}

#address {margin-top: 0px; text-align: right; font-size: 13px;}

#logo {margin: 231px 0 125px;}

.white, .white a { color: #FFF; }

.orange, .orange a {color: #F78429;}

.purple, .purple a {color: #643A63;}

.ccc-content p {font-size: 11px; text-align: left; width: auto;}