html { overflow: scroll; }

body {
  background: #400035 url(/images/home-bg.jpg) repeat-x left center;
	font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  height: 600px;
}

#wrapper {
	margin: 0 auto;
	width: 960px;
}

p {margin-left: 490px; text-align: justify; width: 470px;}

p#visit {text-align: right;}

p#visit a {text-decoration: none;}

#address {margin-top: 0px; text-align: right;}

#logo {margin: 231px 0 125px;}

.white, .white a { color: #FFF; }

.orange, .orange a {color: #F78429;}

.purple, .purple a {color: #643A63;}