{% extends 'SavvyStaticBundle::layout.html.twig' %}
{% block title 'About Us' %}
{% block theme 'white-bg' %}
{% block body %}
    <h1>The Savvy approach</h1>
    <h3 class="purple">Approach</h3>
    <p>We have four core principles that guide everything we do here at Savvy:</p>
  {{ parent() }}
    <p id="visit" class="orange cb"><a href="{{ path('meet_the_team') }}">Come see us&hellip;</a></p>
{% endblock %}
{% block left %}
  <h4 class="purple">Smart Thinking</h4><p>Before we do any creative work, we talk to you and find out more about your business - your strategy, challenges and goals. Then we'll do some smart thinking before we even consider any design, creative or web work. And the ideas we come up with could well be a different and better way to achieve your objectives.</p>
  <h4 class="purple">Clever Design</h4><p>Once the smart thinking is in place, the design flows naturally. And we use all of our skills and experience to come up with creative work that’s fresh and original, and reinforces your brand, tone of voice and company values. Take a look at our Portfolio and you’ll see what we mean.</p>
  <h4 class="purple">Solid Development</h4><p>Online is now a major part of almost every business’s marketing activities. And the focus of this will always be the company website. On every single web project, our team design and build a site that’s robust, simple to navigate, search engine optimised and easily expandable as the business grows. It’s what we call solid development.</p>
{% endblock %}
{% block right %}
  <h4 class="purple">Open Communication</h4>
  <p>We work in a more savvy way too. We don’t have layers and layers of managers or a big company hierarchy. You deal directly with the graphic designers or web developers who are working on your job. That way, they get a clearer brief and nothing gets lost in translation. Supported of course, by full client liaison to help make sure your project runs smoothly.</p>
  <ul class="left rob pat">
    <li>Marketing strategy</li>
    <li>Brand identity</li>
    <li>Graphic design</li>
    <li>Print</li>
    <li>Packaging design</li>
    <li>Direct mail</li>
    <li>Photography</li>
  </ul>
  <ul class="left pat">
    <li>Website development</li>
    <li>Concepts generation</li>
    <li>Artwork services</li>
    <li>Advertising</li>
    <li>Exhibition solutions</li>
    <li>Email marketing</li>
    <li>Experiential marketing</li>
  </ul>
  <p class="cb">We don't pretend to know so, if we need them, we call in extra specialist resources from highly skilled copywriters and photographers, to SEO experts and more.</p>
{% endblock %}
{% block quick_nav %}
{% endblock %}