{% extends 'SavvyStaticBundle::layout.html.twig' %}
{% block title 'About Us' %}
{% block theme 'white-bg' %}
{% block body %}
    <h1>Our savvy approach</h1>
    <p>We have four principles that we apply to everything we do:</p>
  {{ parent() }}
    <p id="visit" class="pink cb"><a class="pink" href="{{ path('meet_the_team') }}">Who are we&hellip;</a></p>
{% endblock %}
{% block left %}
  <h4 class="purple">Smart thinking</h4><p>Before we do any creative work, we talk to you and find out more about your business - your strategy, challenges and goals. Then we'll do some smart thinking before we even consider any design, creative or web work. The ideas we come up with could well be a different and better way to achieve your objectives.</p>
  <h4 class="purple">Clever design</h4><p>Once the smart thinking is in place, the design flows naturally. We use all of our skills and experience to come up with creative work that’s fresh and original, and reinforces your brand, tone of voice and company values. Take a look at our <a class="orange" href="{{ path('portfolio') }}">work</a> and you’ll see what we mean.</p>
  <h4 class="purple">Solid development</h4><p>A strong web presence is now one of the most important tools for businesses looking to market themselves effectively. The focus of this will always be the company website. On every single web project, our team design and build a site that’s robust, simple to navigate, search engine friendly and easily expandable as the business grows. It’s what we call solid development.</p>
{% endblock %}
{% block right %}
  <h4 class="purple">Open communication</h4>
  <p>We work in a more savvy way too. We don’t have layers of managers or a big company hierarchy. You deal directly with the graphic designers or web developers who are working on your job. That way, they get a clearer brief and nothing gets lost in translation. Supported of course, by a client liaison team to help make sure your project runs smoothly.</p>
  <p class="cb">We don't pretend to know everything but if we need them, we call in extra specialist resources from highly skilled copywriters to SEO experts.</p>
  <p>Want to know what we specialise in:</p>
  <ul class="left rob pat mat">
    <li>Marketing strategy</li>
    <li>Brand identity</li>
    <li>Graphic design</li>
    <li>Print</li>
    <li>Packaging design</li>
    <li>Direct mail</li>
    <li>Photography</li>
  </ul>
  <ul class="left pat mat">
    <li>Website development</li>
    <li>Concepts generation</li>
    <li>Artwork services</li>
    <li>Advertising</li>
    <li>Exhibition solutions</li>
    <li>Email marketing</li>
    <li>Experiential marketing</li>
  </ul>

{% endblock %}
{% block quick_nav %}
{% endblock %}