{% extends 'SavvyStaticBundle::layout.html.twig' %}
{% block title 'About Us' %}
{% block theme 'white-bg' %}
{% block body %}
<h1>IT’S WHAT WE ARE. AND WHAT WE GIVE YOU.</h1>
  {{ parent() }}
{% endblock %}
{% block left %}
  <p>Welcome to Savvy Creative. We’re one of the newest graphic design and web agencies in Nottingham, but we’re certainly not new to the industry.</p>
  <p>Our team have bags of experience gained working for a variety of businesses in a number of different sectors. We’re all about high quality creative work - online and offline, above the line, below the line. All designed to improve your bottom line.</p>
  <p>We work in a more savvy way too. We don’t have layers and layers of managers or a big company hierarchy. You deal directly with the graphic designers or web developers who are working on your job. That way, they get a clearer brief and nothing gets lost in translation. Supported of course, by full client liaison to help make sure your project runs smoothly.</p>
  <p>Want to see what our Smart Thinking, Clever Design and Solid Development can do for your business? Call us at Savvy Creative on XXXXXXXXXXX.</p>
  
{% endblock %}
{% block right %}
  <p>To help us do this, we have three core principles that guide everything we do here at Savvy.</p>
  <p>Smart Thinking<br />Before we do any creative work, we talk to you and find out more about your business - your strategy, challenges and goals. Then we'll do some smart thinking before we even consider any design, creative or web work. And the ideas we come up with could well be a different and better way to achieve your objectives.</p>
  <p>Clever Design<br />Once the smart thinking is in place, the design flows naturally. And we use all of our skills and experience to come up with creative work that’s fresh and original, and reinforces your brand, tone of voice and company values. Take a look at our Portfolio and you’ll see what we mean.</p>
  <p>Solid Development<br />Online is now a major part of almost every business’s marketing activities. And the focus of this will always be the company website. On every single web project, our team design and build a site that’s robust, simple to navigate, search engine optimised and easily expandable as the business grows. It’s what we call solid development.</p>


{% endblock %}

