{% extends 'SavvyStaticBundle::layout.html.twig' %}
{% block title 'Clients' %}
{% block theme 'white-bg' %}
{% block body %}
<h1>CLIENTS</h1>
  {{ parent() }}
{% endblock %}
{% block left %}
  <p>As you can see, our team have worked on some pretty impressive projects for some pretty big brands. And some not so big jobs too.</p>
  <p>But here at Savvy, we treat all of our clients the same, however large or small they are. And we show the same care, passion and commitment to a simple flyer with short lead times, as we do to a major brand launch or corporate brochure. What’s more, the savvy thinking we apply to every job helps us to plan ahead and avoid undue stress and last minute rushes.</p>
  <p>That’s why we’ve been able to build and develop successful long-standing relationships with all of our clients. And contribute to building their brands at the same time.</p>
  <p>In short, it’s because we do great work with smart thinking behind it. We provide a reliable and outstanding level of service on every job. And we’re experienced advertising, marketing and web professionals who’ve been there, done that and designed the T-shirt.</p>
  <p>It also helps that we’re friendly, approachable people you’ll like to deal with.</p>
  <p>Want to see some more of our work and discover what we can do for you? Call us at Savvy Creative on XXXXXXXXXXX.</p>
{% endblock %}
{% block right %}
  <p>Logos</p>
{% endblock %}
