{% extends 'SavvyStaticBundle::layout.html.twig' %}
{% block title 'Clients' %}
{% block theme 'white-bg' %}
{% block body %}
<h1>Our clients</h1>
  {{ parent() }}
<p id="visit" class="orange cb"><a class="pink" href="{{ path('our_approach') }}">See why they work with us&hellip;</a></p>
{% endblock %}
{% block left %}
  <p>As you can see, our team have worked on some pretty impressive projects for some diverse brands.</p>
  <p>Here at Savvy we treat all of our clients the same, however big or small. We show the same care, passion and commitment to designing a simple flyer with short lead times, as we do for a major brand launch or corporate brochure. What’s more, the savvy way of thinking we apply to every job helps us to plan ahead to avoid last minute rushes.</p>
<p>That's why we've been able to build and develop successful long-standing relationships with all of our clients, and contribute to building their brands at the same time.</p>
  <p>We provide a reliable and outstanding level of service on every job. We’re experienced advertising, marketing and web professionals who’ve been there, done that and designed the T-shirt!</p>
  <p>It also helps that we’re friendly, approachable people that you’ll love to deal with.</p>
{% endblock %}
{% block right %}
  <img class="client-logo" src="/images/clients/ox-logo.png" alt="Oxford university" />
  <img class="client-logo" src="/images/clients/trg-logo.png" alt="The Resort Group" />
  <img class="client-logo" src="/images/clients/nf-logo.png" alt="Noble foods" />
  <img class="client-logo" src="/images/clients/bmw-logo.png" alt="BMW" />
  <img class="client-logo" src="/images/clients/vb-logo.png" alt="Vale Blinds" />
  <img class="client-logo" src="/images/clients/oak-logo.png" alt="Oak Student Letts" />
  <img class="client-logo" src="/images/clients/egg-logo.png" alt="Happy Egg Co" />
  <img class="client-logo" src="/images/clients/deh-logo.png" alt="Delilah Foods" />
  <img class="client-logo" src="/images/clients/cha-logo.png" alt="Chameleon Design and Print" />
 <P>&nbsp;</P> 
{% endblock %}
 
{% block quick_nav %}{% endblock %}