{% extends 'SavvyStaticBundle::layoutHome.html.twig' %}
{% block title 'Home' %}
{% block theme 'purple-bg' %}
{% block body %}
  <img src="/images/logo.jpg" alt="logo" width="268" height="138" id="logo" />
  <p class="white">Welcome to Savvy Creative. We're one of the newest creative design and digital agencies in Nottingham, but we’re certainly not new to the industry.</p>
  <p class="white">Our team have bags of experience gained working for a variety of businesses in a number of different sectors. We’re all about high quality creative work - online and offline, above the line, below the line. All designed to improve your bottom line.</p>

{% endblock %}
{% block quick_nav %}
  <p id="visit" class="orange"><a href="{{ path('portfolio') }}">See how creative we can be&hellip;</a></p>
  <p id="address" class="cb white">23 BRIDGFORD ROAD, NOTTINGHAM, NG2 6AU. 01159 816276</p>
{% endblock %}