{% extends 'SavvyStaticBundle::layout.html.twig' %}
{% block title 'Meet The Team' %}
{% block theme 'white-bg' %}
{% block body %}
<h1>A TEAM. NOT A GROUP OF INDIVIDUALS.</h1>
  {{ parent() }}
{% endblock %}
{% block left %}
  <p>When you hit the Meet the Team button on most agency websites you get wacky pictures of people pulling a funny face, or cartoons or even baby pictures – you get the idea. We’d rather let our work show you how different, creative and original we can be.</p>
  <p>And there’s another reason why we’d rather just talk about our team. It’s precisely because we are a team. A group of people where no individual is more important than anyone else. A group of people where everyone is pulling together with the same objective – to produce powerful, hardworking, beautifully designed creative work for our clients.</p>
  <p>As we’ve mentioned, this is also shown by our agency structure. No hierarchy or chains of command. Just everyone working together and swapping ideas, suggestions and insights to make every job for every client as good as it can be.</p>
    <p>Want to meet the team in person? Call Savvy Creative on 0115 981 6276.</p>
{% endblock %}
{% block right %}

{% endblock %}
{% block quick_nav %}
  <p id="visit" class="orange"><a href="{{ path('new_contact') }}">Want to meet us in person? Call Savvy creative on 0115 981 6276</a></p>
  <p id="address" class="cb white">23 BRIDGFORD ROAD, NOTTINGHAM, NG2 6AU. 01159 816276</p>
{% endblock %}
