{% extends 'SavvyStaticBundle::layout.html.twig' %}
{% block title 'Meet The Team' %}
{% block theme 'white-bg' %}
{% block body %}
<h1>A TEAM. NOT A GROUP OF INDIVIDUALS.</h1>
  {{ parent() }}
{% endblock %}
{% block left %}
  <p>When you hit the Meet the Team button on most agency websites you get wacky pictures of people pulling a funny face, or cartoons or even baby pictures – you get the idea. We’d rather let our work show you how different, creative and original we can be.</p>
  <p>And there’s another reason why we’d rather just talk about our team. It’s precisely because we are a team. A group of people where no individual is more important than anyone else. A group of people where everyone is pulling together with the same objective – to produce powerful, hardworking, beautifully designed creative work for our clients.</p>
  <p>As we’ve mentioned, this is also shown by our agency structure. No hierarchy or chains of command. Just everyone working together and swapping ideas, suggestions and insights to make every job for every client as good as it can be.</p>
{% endblock %}
{% block right %}
  <p>So we’ve talked about our team. Here’s what we can do:</p>
  <ul>
    <li>Brand identity</li>
    <li>Strategy and planning</li>
    <li>Creative concepts</li>
    <li>Graphic design</li>
    <li>Artworking</li>
    <li>Website design and development</li>
    <li>Email campaigns</li>
    <li>Social media campaign planning</li>
    <li>Print, retail and exhibition solutions</li>
    <li>Experiential marketing</li>
    <li>Advertising concepts and media planning</li>
  </ul>
  <p>We can also call in extra specialist resources as and when we need them, from highly skilled copywriters and photographers, to SEO experts, research boffins and more.</p>
  <p>Want to meet the team in person? Call Savvy Creative on XXXXXXXXXXX.</p>
{% endblock %}

