{% extends 'SavvyStaticBundle::layout.html.twig' %}
{% block title 'Meet The Team' %}
{% block theme 'white-bg' %}
{% block body %}
<h1>Our Savvy team.</h1>
  {{ parent() }}
<p id="visit" class="cb orange"><a href="{{ path('new_contact') }}">Make the right choice&hellip;</a></p>
{% endblock %}
{% block left %}
  <p>At Savvy our definition of "the team" is a group of people where no individual is more important than anyone else. Where everyone is pulling together with the same objective – to produce powerful, hardworking, beautifully designed creative work for our clients.</p>
  <p>As we've mentioned, this is also shown by our agency structure. No hierarchy or chains of command. Just everyone working together and swapping ideas, suggestions and insights to make every job for every client as good as it can be.</p>
  <p>Make the right choice? Call Savvy Creative on 0115 981 6276.</p>
{% endblock %}
{% block right %}

{% endblock %}
{% block quick_nav %}
    
{% endblock %}
