{% extends "OxygenContactBundle::layout.html.twig" %}
{% block theme 'white-bg' %}
{% block body %}
<h1>Call savvy creative today</h1>
  {{ parent() }}
{% endblock %}
{% block left %}
  <p>Come and meet the team at Savvy. We’ll pop over to you, or you can come and visit us here in the heart of West Bridgford, just 5 minutes drive from Nottingham city centre. It’s where you’ll find the best coffee and tastiest pastries. So send us a message, call, email, tweet or connect with us.<br /><br />We’d love to meet you.</p>
  <address>Savvy Creative<br />23 Bridgford Road,<br />West Bridgford,<br />Nottingham,<br />NG2 6AU.</address>
  <p>Call: 0115 981 6276</p>
  <p>Email:	info@savvycreativeuk.com</p>
  <p>Twitter: @savvycreativeuk</p>
{% endblock %}
{% block right %}
  {#% include 'OxygenContactBundle:Client:contact-form.html.twig' with {'form':form,'blank_layout':blank_layout} %#}
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=23+Bridgford+Road,+West+Bridgford&amp;aq=0&amp;oq=23+bridgford+road&amp;sll=53.800651,-4.064941&amp;sspn=24.86307,41.308594&amp;ie=UTF8&amp;hq=&amp;hnear=23+Bridgford+Rd,+West+Bridgford,+Nottingham+NG2+6AU,+United+Kingdom&amp;t=m&amp;ll=52.934569,-1.129446&amp;spn=0.018106,0.036478&amp;z=14&amp;iwloc=&amp;output=embed"></iframe>
{% endblock %}
{% block quick_nav %}
{% endblock %}