{% extends "OxygenContactBundle::layout.html.twig" %}
{% block theme 'white-bg' %}
{% block body %}
<h1>CONTACT SAVVY CREATIVE TODAY</h1>
  {{ parent() }}
{% endblock %}
{% block left %}
  <p>Come and meet the team at Savvy. We’ll pop over to you, or you can come and visit us here in the heart of West Bridgford, just 5 minutes drive from Nottingham city centre. It’s where you’ll find the best coffee and tastiest pastries. So send us a message, call, email, tweet or connect with us. We’d love to meet you.</p>
  <address>Savvy Creative<br />23 Bridgford Road,<br />West Bridgford,<br />Nottingham,<br />NG2 6AU.</address>
  <p>Call: 0115 xxxxxxxx</p>
  <p>Email:	info@savvycreativeuk.com</p>
  <p>Twitter: @savvycreativeuk</p>
  {#<p>LinkedIn: XXXXXXXXX</p>#}
{% endblock %}
{% block right %}
  {#% include 'OxygenContactBundle:Client:contact-form.html.twig' with {'form':form,'blank_layout':blank_layout} %#}
  <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=23+bridgford+road,+west+bridgford,+ng2+6au&amp;aq=&amp;sll=52.932264,-1.127169&amp;sspn=0.001719,0.003237&amp;ie=UTF8&amp;hq=&amp;hnear=23+Bridgford+Rd,+West+Bridgford,+Nottingham+NG2+6AU,+United+Kingdom&amp;ll=52.932604,-1.127833&amp;spn=0.006874,0.01295&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=23+bridgford+road,+west+bridgford,+ng2+6au&amp;aq=&amp;sll=52.932264,-1.127169&amp;sspn=0.001719,0.003237&amp;ie=UTF8&amp;hq=&amp;hnear=23+Bridgford+Rd,+West+Bridgford,+Nottingham+NG2+6AU,+United+Kingdom&amp;ll=52.932604,-1.127833&amp;spn=0.006874,0.01295&amp;t=m&amp;z=14" style="color:#643A63;text-align:left">View Larger Map</a></small>
{% endblock %}