{% extends "OxygenContactBundle::layout.html.twig" %}
{% block theme 'white-bg' %}
{% block title 'Thank you' %}
{% block body %}
<h1>Contact success</h1>
<p>Thank you for getting in touch, we aim to respond to contact requests within 24 hours of submission.</p>
{% endblock %}